  <footer class="footer">
        
        <div class="axo-footer">
            
            <div class="axo-footer__left">
                <div class="axo-footer__nav">
                    <div class="axo-footer__column">
                        <div class="axo-footer__header">Покупателям</div>
                        <div class="axo-footer__body">
                            <div class="axo-footer__divider"></div>
                            <div class="axo-footer__list">
                                <a href="/index.html" class="axo-footer__link">Для вас</a>
                                <a href="/pages/catalog.html" class="axo-footer__link">Категории</a>
                                <a href="/pages/profile.html#wallet" class="axo-footer__link">Кошелек</a>
                            </div>
                        </div>
                    </div>

                    <div class="axo-footer__column">
                        <div class="axo-footer__header">Партнёрам</div>
                        <div class="axo-footer__body">
                            <div class="axo-footer__divider"></div>
                            <div class="axo-footer__list">
                                <!-- <a href="#" class="axo-footer__link">Рефералка</a> -->
                                <a href="https://t.me/AxoShopmanager" class="axo-footer__link">Открыть свой магазин</a>
                                <a href="https://t.me/AxoShopmanager" class="axo-footer__link">Стать нашим поставщиком</a>
                            </div>
                        </div>
                    </div>

                    <div class="axo-footer__column">
                        <div class="axo-footer__header">Поддержка</div>
                        <div class="axo-footer__body">
                            <div class="axo-footer__divider"></div>
                            <div class="axo-footer__list">
                                <a href="https://t.me/AxoShopmanager" class="axo-footer__link">Чат telegram</a>
                                <a href="mailto:begaritstudio@gmail.com" class="axo-footer__link">Почта</a>
                                <!-- <a href="#" class="axo-footer__link">FAQ</a> -->
                            </div>
                        </div>
                    </div>

                    <div class="axo-footer__column">
                        <div class="axo-footer__header">соц. сети</div>
                        <div class="axo-footer__body">
                            <div class="axo-footer__divider"></div>
                            <div class="axo-footer__list">
                                <a href="https://t.me/axoshopchannel" class="axo-footer__link">Telegram</a>
                                <!-- <a href="#" class="axo-footer__link">VKontakte</a>
                                <a href="#" class="axo-footer__link">Youtube</a>
                                <a href="#" class="axo-footer__link">TikTok</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="footer-logo"><span style="color: #EE7EC6;">Axo</span>Shop</div>
            </div>

            <div class="axo-footer__column">
                <div class="axo-footer__header">компания</div>
                <div class="axo-footer__body">
                    <div class="axo-footer__divider"></div>
                    <div class="axo-footer__list">
                        <div class="axo-btn-group">
                            <!-- <a href="#" class="axo-footer__link">О нас</a> -->
                            <a href="# " class="axo-footer__link">Документы</a>
                            
                            <a href="/pages/catalog.html" class="axo-btn-primary">
                                <span class="axo-btn-primary__text">Товары</span>
                            </a>

                            <a href="/pages/authorization.html" class="axo-btn-outline">
                                <span class="axo-btn-outline__text">Войти</span>
                            </a>
                            
                            <div class="axo-copyright">© axoShop 2026</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>